body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    overflow-x: hidden;    
}
.gameSection {
    height: 100vh;
    width: 100vw;
    display: none;
}
.gameSectionSplash {
    height: 100vh;
    width: 100vw;
    display: block;
}

.gameContainer{
    height: 100%;
    width: 100%;
}

.splash {
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.menu{
    background-image: url(../img/gifs/pagina-inicial-1.gif);
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.menuBtnContainer {
    display: flex;
    flex-direction: column;
    padding-top: 88%;
    width: 90%;
}
.credits{
    padding-top: 20%;
}
.cardsLvlMenu{
    background-image: url(../img/fondos/estrellasGemelas.png);
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;   
    justify-content: space-between;
    width: 100%;
}
.btnLevelContainer{
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    
}
.levelbtn{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    height: 5%;
    width: 97%

}



.backBtn{
    content: url(../img/botones/back.png);
    flex: 1;
    

}
.headerBtnSpace{
    flex: 8;
}
.homeBtn{
    content: url(../img/botones/home.png);
    flex: 1;

} 
.cardsScreen{
    background-image: url(../img/fondos/fondoColor.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
         
}
.gameZone{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    justify-self: center;
    perspective: 1000px;
    width: 100%;


}
.gifScreen {
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
.card{
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    padding: 5px;

}
.card:active {
    transform: scale(0.97);
    transition: transform .2s;    
}
.card.flip{
    transform: rotateY(180deg);
}

/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}