body{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
    overflow-x: hidden;    
}
.gameSection {
    height: 100vh;
    width: 100vw;
}

.gameContainer{
    height: 100%;
    width: 100%;
}

.splash {
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.menu{
    background-image: url(../img/fondos/fondo-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.menuBtnContainer {
    display: flex;
    flex-direction: column;
    padding-top: 50%;
}
.credits{
    padding-top: 40%;
}
.cardsLvlMenu{
    background-image: url(../img/fondos/fondo-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;   
    justify-content: space-between;
}
.btnLevelContainer{
    padding-bottom: 10%;
    
}

.header{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    height: 6%;
    width: 97%

}



.backBtn{
    content: url(../img/botones/back.png);
    flex: 1;
    

}
.headerBtnSpace{
    flex: 8;
}
.homeBtn{
    content: url(../img/botones/home.png);
    flex: 1;

} 
.cardsScreen{
    background-image: url(../img/fondos/estrellasGemelas.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
         
}
.gameZone{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10%;
    justify-self: center;

}
.gifScreen {
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}